html, body {
    margin: 0;
    padding: 0;
}

header {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
    background-color: black;
    color:white;

    position:sticky;
    top:0px;
    z-index:2;
}

.oscarTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#oscar {
   height:100px;
}

#homeButton {
    background-color: black;
    color:white;
    border: 0;
    align-items: center;
    bottom:50px;
}

.navMenu {
    background-color: black;
    color:white;
    justify-content: center;
    align-items:stretch;
    margin: auto;
    gap: 50px;
    

    display:flex;
}

.navMenu div {
    margin: 10px;
    font-size: 20px;
}

.navMenu button {
    background-color: goldenrod;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border:0;
}

.navMenu button:hover {
    background-color:darkviolet;
    color:white;
}