html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    display:grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);

    transition: opacity 0.5s ease;
}

body.fade-out {
    opacity: 0;
}

/*header elements*/
header {
    grid-column: span 8;

    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
    background-color: black;
    color:white;

    position:sticky;
    top:0px;
    z-index:2;
}

.oscarTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#oscar {
   height:100px;
}

#homeButton {
    background-color: black;
    color:white;
    align-items: center;
    bottom:50px;
    text-decoration: none;
}

.navMenu {
    background-color: black;
    color:white;
    justify-content: center;
    align-items:stretch;
    margin: auto;
    gap: 50px;
    

    display:flex;
}

.navMenu div {
    margin: 10px;
    font-size: 20px;
}

.navMenu button {
    background-color: goldenrod;
    height: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border:0;
}

.navMenu button:hover {
    background-color:darkviolet;
    color:white;
}

#star-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.star {
    position: absolute;
    color: gold;
    font-size: 20px;
    animation: fall 1s ease-out forwards;
}

@keyframes fall {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(200px) scale(0.5);
        opacity: 0;
    }
}

/* main content */
.content-wrapper{
    transition: opacity 0.5s ease;
}

.content-wrapper.fade-out {
    opacity: 0;
}

#main-content {
    grid-column: 2/6;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

/* footer */
footer {
    grid-column: span 8;
    grid-row: 4/4;
    background-color: black;
    color: goldenrod;
}